*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    font-family: 'Fredoka One', sans-serif;
}

/* parte alta */

.title{
    font-size: 25px;
    color: rgb(201, 23, 121);
    margin: 25px;
}

.title-text{
    font-family: 'Lexend Exa', sans-serif;
    margin: 35px 0;
    font-weight: 400;
}

/* 6 box  */

.box{
    width: calc(100% / 3 - 30px);
    height: 100px;
    background-color: black;
    margin: 20px 15px;
    float: left;    
}
